body, html {
    height: 100%;
}
body h1 {
    text-align: center;
}
.table {
    width: 72%;
    height: 100%;
    margin-left: 10%;
    margin-right: auto;
}

.card {
    width: 28.5%;
    height: 12%;
    float: left;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    border: 1px solid #CCC;
    border-radius: 1em;
    margin: 1em;
}
.card p {
    margin: .5em;
}
.card.red.solid {
    background-color: rgba(255, 0, 0, 1);
}
.card.red.semi {
    background-color: rgba(255, 0, 0, .6);
}
.card.red.transparent {
    background-color: rgba(255, 0, 0, .2);
}
.card.green.solid {
    background-color: rgba(0, 128, 0, 1);
}
.card.green.semi {
    background-color: rgba(0, 128, 0, .6);
}
.card.green.transparent {
    background-color: rgba(0, 128, 0, .2);
}
.card.purple.solid {
    background-color: rgba(128, 0, 128, 1);
}
.card.purple.semi {
    background-color: rgba(128, 0, 128, .6);
}
.card.purple.transparent {
    background-color: rgba(128, 0, 128, .2);
}
.card.selected {
    font-weight: 900;
}

.buttondiv {
    float: right;
    height: auto;
    width: 15%;
}
button {
    float: right;
    width: 91%
}

.messages {
    clear: both;
    float: right;
    height: auto;
    width: 15%;
    text-align: center;
}
.messages p {
    font-size: 200%;
    font-weight: 900;
}