body, html {
    height: 100%;
}
body h1 {
    text-align: center;
}
.table {
    width: 74%;
    height: 100%;
    margin-left: 10%;
    margin-right: auto;
}

.card {
    width: 260px;
    height: 60px;
    float: left;
    border: 1px solid #CCC;
    border-radius: 1em;
    margin: 1em;
}

.image {
    height: 60px;
}
.image.one {
    width: 65px;
    background-size: 60px 60px;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    margin-left: 37.5%;
}
.image.two {
    width: 65px;
    background-size: 60px 60px; 
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    margin: 0 32.5px 0 32.5px;
}
.image.three {
    width: 65px;
    background-size: 60px 60px; 
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    margin: 0 10px 0 10px;
}
.image.red.solid.oval {
    background-image: url('images/redcircle.jpg')
}
.image.red.solid.diamond {
    background-image: url('images/redsquare.jpg')
}
.image.red.solid.squiggle {
    background-image: url('images/redclover.jpg')
}
.image.red.semi.oval {
    background-image: url('images/redcirclestriped.jpg')
}
.image.red.semi.diamond {
    background-image: url('images/redsquarestriped.jpg')
}
.image.red.semi.squiggle {
    background-image: url('images/redcloverstriped.jpg')
}
.image.red.transparent.oval {
    background-image: url('images/redcircletransparent.jpg')
}
.image.red.transparent.diamond {
    background-image: url('images/redsquaretransparent.jpg')
}
.image.red.transparent.squiggle {
    background-image: url('images/redclovertransparent.jpg')
}

.image.green.solid.oval {
    background-image: url('images/greencircle.jpg')
}
.image.green.solid.diamond {
    background-image: url('images/greensquare.jpg')
}
.image.green.solid.squiggle {
    background-image: url('images/greenclover.jpg')
}
.image.green.semi.oval {
    background-image: url('images/greencirclestriped.jpg')
}
.image.green.semi.diamond {
    background-image: url('images/greensquarestriped.jpg')
}
.image.green.semi.squiggle {
    background-image: url('images/greencloverstriped.jpg')
}
.image.green.transparent.oval {
    background-image: url('images/greencircletransparent.jpg')
}
.image.green.transparent.diamond {
    background-image: url('images/greensquaretransparent.jpg')
}
.image.green.transparent.squiggle {
    background-image: url('images/greenclovertransparent.jpg')
}

.image.purple.solid.oval {
    background-image: url('images/purplecircle.jpg')
}
.image.purple.solid.diamond {
    background-image: url('images/purplesquare.jpg')
}
.image.purple.solid.squiggle {
    background-image: url('images/purpleclover.jpg')
}
.image.purple.semi.oval {
    background-image: url('images/purplecirclestriped.jpg')
}
.image.purple.semi.diamond {
    background-image: url('images/purplesquarestriped.jpg')
}
.image.purple.semi.squiggle {
    background-image: url('images/purplecloverstriped.jpg')
}
.image.purple.transparent.oval {
    background-image: url('images/purplecircletransparent.jpg')
}
.image.purple.transparent.diamond {
    background-image: url('images/purplesquaretransparent.jpg')
}
.image.purple.transparent.squiggle {
    background-image: url('images/purpleclovertransparent.jpg')
}

.card.selected {
    border: 1px solid black;
}

.buttondiv {
    float: right;
    height: auto;
    width: 15%;
}
button {
    float: right;
    width: 91%
}

.messages {
    clear: both;
    float: right;
    height: auto;
    width: 15%;
    text-align: center;
}
.messages p {
    font-size: 200%;
    font-weight: 900;
}